
%letterStyle {
    
}


%descriptionStyle {
    
}

// Films Component Styles
.fm {
    width: 70%;
    margin-bottom: 30px;
    &_containerMain{ 
        background-color: white;
        width: 130px;
        height: 250px;
        padding: 10px;
        cursor: pointer;
        float: left;
        margin-right: 8px;
        margin-bottom: 20px;
        border-width: 1px;
        border-style: solid;
        border-color: rgba(46, 46, 46, 0.1);
    }
    &_poster {
        width: 100%;
        height: 85%;
        &--hidden {
            width: 100%;
            height: 85%;
            cursor: auto;
        }
    }
    &_description {
        white-space: nowrap; 
        overflow: hidden;
        text-overflow: ellipsis;
        width: 132px;
        height: 21px;
        font-size: 12.5px;
        // text-decoration: none;
        // text-decoration-skip-ink: none;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 600;
    }
}

// Best Rated Component Styles
.sd {
    &_containerMain {
        width: 30%;
        float: right;
    }
    &_containerInd {
        display: flex;
        margin-bottom: 10px;
    }
    &_poster {
        float: left;
        width: 17%;
        height: 25%;
    }
    &_description {
        width: 225px;
        height: 21px;
        font-size: 15px;
        padding-left: 8px;
        // background-color: antiquewhite;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
}

