%letterStyle {
    color: rgb(56, 56, 56);
    font-size: 15px;
    width: 155px;
    height: 20px;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
}

%descriptionStyle {
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
}

.ContainerTitle {
    width: 100%;
    height: 20px;
}

.ContainerMainMovie {
    width: 70%;
    height: auto;
    margin-bottom: 30px;
}

.containerMovie {
    background-color: white;
    width: 130px;
    height: 300px;
    padding: 10px;
    cursor: pointer;
    float: left;
    margin-right: 8px;
    margin-bottom: 20px;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(46, 46, 46, 0.1);
}

// .containerMovie:hover {
//     // scale: ;
// }

.poster {
    width: 100%;
    height: 70%;
}

.desp {
    @extend %descriptionStyle;
    @extend %letterStyle;
}

.sd-containerMain {
    width: 30%;
    float: right;
    // border-width: 1px;
    // border-style: groove;
    // border-color: rgba(46, 46, 46, 0.1);
}

.sd-containerInd {
    display: flex;
    margin-bottom: 10px;
}

.sd-poster {
    float: left;
    width: 17%;
    height: 25%;
}

.dt-containerMain {
    width: 100%;
    display: flex;
    height: 365px;
}

.Bigposter {
    width: 100%;
    // float: left;
    height: 100%;
}

.dt-containerImage {
    width: 35%;
    height: 100%;
}

.dt-containerDetails {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}

.dt-title {
    // background-color: blue;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-top: 0px;
}

.dt-genres {
    display: flex;
    width: 100%;
    height: 50px;
}

.dt-genresStyle {
    margin-right: 10px;
}

.cc-containerMain { 
    display: flex;
}

.cc-containerCharacter {
    width: 19%;
}

.BigBackdrops {
    width: 100%;
    height: 100%;
    &:hover {
        opacity: 0.8;
    }
}

.BigBackdrops-Preview {
    width: 100%;
}

.BigPosters {
    &:hover {
        opacity: 0.8;
    }
}

.gl-containerMedia {
    // background-color: $morado;
    display: flex;
}

.gl-letterStyle {
    color: $morado;
    padding: 8px;
    cursor: pointer;
    // color: white;
    font-weight: bold;
    margin-right: 20px;
    // height: 20px;
    border-radius: 5px;
    &:hover {
        background-color: lighten($color: $morado, $amount: 10);
        color: white;
    }
}

.fd-containerMain {
    display: flex;
}

.fd-containerSec {
    // display: flex;
    float: left;
    flex-direction: row;
    width: 100%;
}

.fd-containerSec2 {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.fd-letterDesp {
    margin-right: 9px;
}


