%LettlerStyle {
    color: grey;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    margin-left: 20px;
    font-weight: bold;
    cursor: pointer;
}

.navbar {
    list-style: none;
    width: 50%;
    // background-color: antiquewhite;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    height: 30px;
}

.stylelist {
    flex-direction: row;
}

.items {
    @extend %LettlerStyle;
    // background-color: aqua;
    height: auto;
    width: 100px;
    text-align: center;
    color: $morado;
    font-size: 13px;
    // margin-left: 0px;
    float: right;
}

.img {
    float: left;
    width: 50%;
    height: 135%;
}

.ctg-container-main {
    // background-color: $morado;
    width: 100%;
    height: auto;
}

.ctg-container-filter {
    display: flex;
    background-color: $morado;
    width: 100%;
    border-radius: 2px;
}

.ctg-container-categories {
    display: flex;
    background-color: whitesmoke;
    border-radius: 2px;
}

.ctg-items {
    @extend %LettlerStyle;
}

.ctg-items-white {
    @extend %LettlerStyle;
    color: white;
}
    

