%LettlerStyle {
    color: grey;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    margin-left: 20px;
    font-weight: bold;
    cursor: pointer;
}

// Navbar Styles
.navbar {
    list-style: none;
    width: 50%;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    height: 30px;
    &_stylelist {
        flex-direction: row;
    }
    &_img {
        float: left;
        width: 50%;
        height: 135%;
    }
    &_items {
        @extend %LettlerStyle;
        height: auto;
        width: 100px;
        text-align: center;
        color: $morado;
        font-size: 13px;
        float: right;
    }
}

// Filter/Categories homepage
.ctg {
    &_Container {
        width: 100%;
        height: auto;
    }
    &_filter {
        display: flex;
        background-color: $morado;
        width: 100%;
        border-radius: 2px;
    }
    &_itemsWhite {
        @extend %LettlerStyle;
        color: white;
    }
    &_itemsNormal {
        @extend %LettlerStyle;
    }
    &_containerCategories {
        display: flex;
        background-color: whitesmoke;
        border-radius: 2px;
    }
}

    

