
// Searh page Styles
.find {
    &_containerMain {
        width: 100%;
        height: 300px;
        border-radius: 5px;
        margin-bottom: 15px;
        text-decoration: none;
        animation: slide-left 400ms ease-out forwards;
    }
    &_poster {
        width: 200px;
        float: left;
    }
    &_textStyle {
        font-size: 22px;
        width: 715px;
        font-weight: bold;
        text-align: left;
        float: right;
        margin-top: 0px;
        height: 22px;
    }
    &_DescriptionStyle {
        width: 77%;
        padding-left: 5px;
        float: right;
        margin-top: 0px;
        height: 200px;
    }
}

@keyframes slide-left {
    from {
      opacity: 0;
      transform: translateX(-10rem);
    }
    to {
      opacity: 1;
      transform: translateY(0rem);
    }
}

.list {
    &_containerMain {
        width: 100%;
        margin-top: 0px;
        margin-bottom: 20px;
        &--small {
            width: 70%;
            padding: 5px;
            margin-right: 25px;
        }
        &--supersmall {
            width: 25%;
            height: 330px;
            background-color: white;
            float: right;
            padding-left: 10px;
            padding-right: 10px;
        }
        &--individual {
            background-color: white;
            width: 100%;
            height: 145px;
            margin-bottom: 20px;
            padding: 5px;
        }
    }
    &_text {
        padding: 5px;
        padding-left: 6px;
        width: 59%;
        float: left;
        margin-top: 1px;
        font-size: 20px;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
        height: 95px;
        white-space: nowrap; 
        overflow: hidden;
        text-overflow: ellipsis;
        &--vinculo {
            text-decoration: underline;
            cursor: pointer;
            height: auto;
            margin-left: 5px;
            float: right;
            color: #0645AD;
            margin-top: 0px;
        }
        &--title {
            width: 100%;
            font-family: Arial, Helvetica, sans-serif;
        }
        &--count {
            font-size: 30px;
            text-align: center;
            font-family: Arial, Helvetica, sans-serif;
            font-weight: bold;
            width: 100%;
            height: 140px;
        }
    }
    &_poster {
        width: 250px;
        float: left;
        border-radius: 5px;
    }
    &_btnStyle {
        background-color: $morado;
        width: 200px;
        height: 40px;
        padding: 5px;
        border-radius: 5px;
        color: white;
        &:hover {
            background-color: lighten($color: $morado, $amount: 10);
        }
        &--red {
            color: white;
            width: 100%;
            height: 40px;
            padding: 5px;
            font-size: 16px;
            border-radius: 5px;
            border-color: transparent;
            background-color: rgb(192, 1, 1);
        }
    }
}

.footer {
    &_containerMain {

        display: flex;
        width: 100%;
    }
    &_section {

        width: 33.3%;
    }
    &_title {
        font-size: 15px;
    }
    &_link {
        width: 100%;
    }
}