
.modal {
    &__modalinfo {
        background-color: white;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
        border-radius: 5px;
        position: fixed;
        top: 30vh;
        left: 5%;
        width: 25%;
        left: 40%;
        z-index: 30;
        animation: slide-down 300ms ease-out forwards;
    }
    &__backdropinfo {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        z-index: 20;
        background-color: rgba(0, 0, 0, 0.3);
    }
}

//BIG MODAL
  
.modal {
    &__modal {
        background-color: white;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
        border-radius: 5px;
        position: fixed;
        top: 5vh;
        width: 80%;
        left: 10%;
        z-index: 30;
        animation: slide-down 300ms ease-out forwards;
    }
    &__backdrop {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        z-index: 20;
        background-color: rgba(0, 0, 0, 0.3);
    }
}


%buttonStyle {
    width: 100%;
    height: 45px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: lighten($color: $morado, $amount: 20);
    color: white;
    cursor: pointer;
    border-color: transparent;
    border-radius: 5px;
}

%letterStyle {
    color: rgb(56, 56, 56);
    font-size: 15px;
    width: 155px;
    height: 20px;
    cursor: pointer;
    margin-top: 8px;
    font-family: Arial, Helvetica, sans-serif;
}

// Paginator Component Style
%paginatorStyle {
    width: 100%;
    height: 100px;
}

.btn__default {
    @extend %buttonStyle;
    &:hover {
        background-color: lighten($color: $morado, $amount: 15);
    }
}

.pg_main {
    @extend %paginatorStyle;
    display: flex;
    &_btn-default {
        @extend %buttonStyle;
        width: 6%;
        height: 40px;
        &:hover {
            background-color: lighten($color: $morado, $amount: 10);
        }
    }
    &_Current-default {
        @extend %letterStyle;
        font-size: 22px;
        width: 100px;
        text-align: center;
        height: 20px;
    }
}

// ShowMedia Component Styles 
.bigBackdrops {
    &--Preview {
        width: 100%;
    }
}




// OTHERS 
.modal__social-container {
    background-color: aqua;
    width: 39%;
    height: auto;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

.modal__body {
    text-align: center;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.modal__title {
    text-align: center;
    margin-top: 0px;
    background-color: darken($color: $morado, $amount: 20);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: white;
    font-size: 18px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
}
